@charset "UTF-8";

@font-face {
    font-family: play;
    src: url(../fontes/bubblegum-sans-regular.otf);
}

#ps
{
    display: block;
    width: 60%;
    float: left;
    border-right: 2px;
    margin: 5px auto;
}

#lateral_ps
{
    display: block;
    width: 30%;
    float: right;
    margin: 5px auto;
    padding: 10px;
}

#ps p, #lateral_ps p
{
    text-align: justify;
    padding: 0px 15px;
}

h1.titulo_ps
{
    color: rgb(11, 167, 240);
    font-size: 1.9em;
    text-align: center;
    margin: 2px 0px;
    font-family: play;
}

table
{
    text-align: center;
    margin: 0px auto;
}