@charset "UTF-8";

.album_ft
{
    width: 58%;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
}

.album_ft li
{
    float: left;
    width: 28.5%;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(72, 149, 221);
    background: #FFF;
}

.galeria_2
{
    width: 65%;
    height: 480px;
    margin: 20px auto;
}

.galeria_ft
{
    list-style: none;
    margin: 0 auto;
    padding: 50px;
}

.galeria_ft li
{
    display: block;
    float: left;
    margin: 3px;
    position: relative;
}

.galeria_ft img
{
    width: 200px;
    height: 165px;
    padding: 5px;
    border: 1px solid rgb(72, 149, 221);
    background: #FFF;
}

.aumentar:hover
{
    transform: scale(1.5);
    z-index: 5;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}