@charset "UTF-8";

form
{
    width: 85%;
    margin: auto;
}

input, textarea
{
    background: #FFF;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea
{
    border-color: rgb(72, 149, 221);
}
input:hover, textarea:hover
{
    background: #CCC;
}

legend
{
    color: rgb(72, 149, 221);
    font-size: 1.1em;
    font-weight: bold;
}

#sexo
{
    width: 25%;
}

fieldset
{
    border-color: rgb(72, 149, 221);
    margin: 20px;
}

.btn
{
    background: rgb(72, 149, 221);
    padding: 10px;
    margin: 5px;
    font-size: 1.0em;
    border: none;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 400px;
}

.btn:hover
{
    background: #9BC848;
}